

.mobile-menu {
    transition: max-height 0.6s ease-in-out, opacity 0.7s ease-in-out;
    max-height: 0; /* Start with max-height of 0 for hidden state */
    opacity: 0; /* Start with opacity 0 for hidden state */
    overflow: hidden; /* Prevent overflow while hidden */
}

.mobile-menu.open {
    max-height: 500px; /* Arbitrary large value for the expanded state */
    opacity: 1; /* Full opacity for visible state */
}
